<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040476090573-a0k6c1tc1ca4duhh5dpjc4a4cjkvufpm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040476090573-a0k6c1tc1ca4duhh5dpjc4a4cjkvufpm</string>
	<key>API_KEY</key>
	<string>AIzaSyDY73hqqI2FthAC8bs582ercapHQBFXHPI</string>
	<key>GCM_SENDER_ID</key>
	<string>1040476090573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yarkingazibaba.yark-n-app.spaceX</string>
	<key>PROJECT_ID</key>
	<string>spacex-5c3b3</string>
	<key>STORAGE_BUCKET</key>
	<string>spacex-5c3b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040476090573:ios:f625fce33e7bf162c13984</string>
</dict>
</plist>